

:root {
    --Blue-800: hsla(234, 29%, 20%, 1);
    --Blue-700: hsl(235, 18%, 26%);
    --Grey: hsla(0, 0%, 58%, 1);
    --White: hsl(0, 0%, 100%);
    
    --Red: hsla(4, 100%, 67%, 1);
}

@layer colors {
    @font-face {
        font-family: roboto-regular;
        src: url(/assets/fonts/Roboto-Regular.ttf);
    }
    
     @font-face {
        font-family: roboto-bold;
        src: url(/assets/fonts/Roboto-Bold.ttf);
    }
}

*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
    list-style: none;
}
body{
    font-family: roboto-regular;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

h1{
    line-height: 1.1em;
    font-size: 2.5rem;
    font-size: 700;
    font-family: roboto-bold;
    color: var(--Blue-700);
}

p{
    line-height: 1.3em;
    font-size: 1rem;
    font-size: 400;
    font-family: roboto-regular;
}

.header__img{
    width: 100%;
    display: block;
    margin: 0 auto;
}

input[type="text"]{
    background: transparent;
    border: solid 1px var(--Grey);
    padding:.8rem 1rem;
    border-radius: 5px;
    outline: none;
    cursor: pointer;
}

.btn{
    border-radius: 5px;
    padding: .8rem 1rem;
    background: var(--Blue-800);
    color: var(--White);
    border: none;
}

.hidden{
    display: none;
}

.container{
    width: 90%;
    margin: 0 auto;
    text-align: left;
}

.hero{
    margin: 3rem auto;
    
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

ul{
    padding-left: 1.5rem;
    
}


ul li::marker {
    content: url(/assets/images/icon-list.svg);
    
}

ul li{

    padding-left: 1rem;
    font-family: roboto-regular;
    line-height: 1.6em;

}

form{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

label{
    
    color: var(--Blue-800);
font-size: .7rem;
}

.error__btn{
    border: 1px solid hsla(4, 100%, 67%, 1);
}

.input__label{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    font-weight: 700;
}

.error__message{
    color: var(--Red);
    font-size: .7rem;
}

.success{
    width: 90%;
    margin: 0 auto;
    height: 100vh;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 1rem;
}

.dismiss__btn{
width: 100%;
margin-top: 7rem;
}

.img__tablet, .img__desktop{
display: none;
    }


.attribution {
    font-size: 11px;
    text-align: center;
    color: var(--Grey);
}
.attribution a {
    color: var(--Blue-700);
}

@media screen and (min-width: 45rem) {
    
    body{
        background: var(--Blue-800);
    }
    .img__tablet, .img__mobile{
display: none;
    }
    
    
    .img__desktop{
        display: block;
    }
    
   /*  .signup{
       display: flex;
       flex-flow: row-reverse;
       justify-content: center;
       align-items: center;
       height: 100vh;
       
   } */
    
   .signup__container {
        background: var(--White);
        display: flex;
        flex-flow: row-reverse;
        align-items: center;
        gap: 1rem;
        border-radius: 1rem;
        padding: 1rem;
    }
    
    .hero{
        padding: 1rem;
    }
    
    .success{
        background: var(--White);
        border-radius: 1rem;
        max-width: 450px;
        height: fit-content;
        padding: 2rem;
        gap: 2rem;
    }
    
    .dismiss__btn {
    margin-top: 0;
    }
    
    .btn:hover{
        cursor: pointer;
        background-image: linear-gradient(to top right, #FF5F5F, #FF6257);
        
        box-shadow: 0 4px 8px #FF5F5F;
    }
    
    .attribution {
        margin-top: 3rem;
    color: var(--White);
}

 .attribution a {
    color: var(--Grey);
}
}


