/* .attribution {
    font-size: 11px;
    text-align: center;
}
.attribution a {
    color: hsl(228, 45%, 44%);
} */

:root {
    --Blue-800: hsla(234, 29%, 20%, 1);
    --Blue-700: hsl(235, 18%, 26%);
    --Grey: hsl(0, 0%, 58%);
    --White: hsl(0, 0%, 100%);
    
    --Red: hsla(4, 100%, 67%, 1);
}

@layer colors {
    @font-face {
        font-family: roboto-regular;
        src: url(/assets/fonts/Roboto-Regular.ttf);
    }
    
     @font-face {
        font-family: roboto-bold;
        src: url(/assets/fonts/Roboto-Bold.ttf);
    }
}

*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
    list-style: none;
}

h1{
    line-height: 1.1em;
    font-size: 2.5rem;
    font-size: 700;
    font-family: roboto-bold;
    color: var(--Blue-700);
}

p{
    line-height: 1.3em;
    font-size: 1rem;
    font-size: 400;
    font-family: roboto-regular;
}

.header__img{
    width: 100%;
    display: block;
    margin: 0 auto;
}

input[type="email"]{
    background: transparent;
    border: solid 1px var(--Grey);
    padding:.8rem 1rem;
    border-radius: 5px;
    outline: none;
}

.btn{
    border-radius: 5px;
    padding: .8rem 1rem;
    background: var(--Blue-800);
    color: var(--White);
    border: none;
}

.hidden{
    display: none;
}

.container{
    width: 90%;
    margin: 0 auto;
    text-align: left;
}

.hero{
    margin: 3rem auto;
    
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

ul{
    padding-left: 1.5rem;
    
}


ul li::marker {
    content: url(/assets/images/icon-list.svg);
    
}

ul li{
    /* display: flex; */
    padding-left: 1rem;
    font-family: roboto-regular;
    line-height: 1.6em;
    /* list-style-image: url(/assets/images/icon-list.svg);
    list-style-position: outside; */
}

form{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

label{
    font-size: .7rem;
    color: var(--Blue-800);
    font-weight: 700;
}

.error__btn{
    border: 1px solid hsla(4, 100%, 67%, 1);
}